<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Are you in danger?" %><br>
    Yes <%= f.radio_button :danger, "0" %>
      <div>
        <input type="checkbox" class="resourceCheck"><br>
        <input type="checkbox" class="resourceCheck"><br>
        <input type="checkbox" class="resourceCheck"><br>
        <input type="checkbox" class="resourceCheck"><br>
      </div>
    No <%= f.radio_button :danger, "1" %>
  </div>
  <div class="field">
    <%= f.label "Are you injured?" %><br>
    Yes <%= f.radio_button :injured, "0" %>
    No <%= f.radio_button :injured, "1" %>
  </div>
  <div class="field">
    <%= f.label "Do you have a safe place to sleep?" %><br>
    Yes <%= f.radio_button :place_to_sleep, "0" %>
    No <%= f.radio_button :place_to_sleep, "1" %>
  </div>
  <div class="field">
    <%= f.label "Do you know where your next meal will come from?" %><br>
    Yes <%= f.radio_button :next_meal, "0" %>
    No <%= f.radio_button :next_meal, "1" %>
  </div>
  <div class="field">
    <%= f.label "Are you currently employed?" %><br>
    Yes <%= f.radio_button :employed, "0" %>
    No <%= f.radio_button :employed, "1" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
