<h1>Listing surveys</h1>

<table>
  <thead>
    <tr>
      <th>Danger</th>
      <th>Injured</th>
      <th>Place to sleep</th>
      <th>Next meal</th>
      <th>Employed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.danger %></td>
        <td><%= survey.injured %></td>
        <td><%= survey.place_to_sleep %></td>
        <td><%= survey.next_meal %></td>
        <td><%= survey.employed %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path %>
