<p id="notice"><%= notice %></p>

<p>
  <strong>Danger:</strong>
  <%= @survey.danger %>
</p>

<p>
  <strong>Injured:</strong>
  <%= @survey.injured %>
</p>

<p>
  <strong>Place to sleep:</strong>
  <%= @survey.place_to_sleep %>
</p>

<p>
  <strong>Next meal:</strong>
  <%= @survey.next_meal %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @survey.employed %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
